.App {
  text-align: center;
  position: fixed;
  width: 380px;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
}

#title {
  padding: 5px;
  margin: 5px;
}

#instructions, #username, .button {
  margin: 5px;
}

#username {
  width: 370px;
}

#submit, #clear {
  font-weight: bold;
}

#form {
  margin: 0;
}

.foot {
  bottom: 0;
  z-index: 2;
  position: fixed;
  text-align: center;
  width: 100%;
}

.foot > span {
  padding-right: 3px;
}

.foot > a {
  color: black;
}

.foot > a:hover {
  text-transform: uppercase;
  font-weight: bold;
}