.App {
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

h2 {
  font-family: 'Playball', cursive;
  font-weight: bold;
  background: #eeeeee;
  color: #c50322;
  border: 3px dashed #c50322;
  box-shadow: 0 0 0 5px #dddddd;
  padding: 5px;
}

input, form, button {
  padding: 5px;
}