.App {
  text-align: center;
  position: fixed;
  display: inline;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

h1 {
  font-family: 'Playball', cursive;
  font-weight: bold;
  background: #eeeeee;
  color: #c50322;
  border: 3px dashed #c50322;
  box-shadow: 0 0 0 5px #dddddd;
  padding: 5px;
}

button, form {
  padding: 5px;
}