.Back {
    height: 330px;
    margin: 25px 10px;
    transform: rotateY(180deg) translateZ(.1px);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    z-index: 2;
}

.Back > * {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.Back > p {
    margin-top: 5px;
    font-family: 'Lato';
}

.Back > a {
    margin-top: 5px;
    font-family: 'Lato';
    font-weight: bold;
}

#name {
    font-family: 'Lato';
    font-weight: bold;
}

#bio {
    font-family: 'Lato';
    font-size: 16px;
}

table {
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
}

th {
    font-family: 'Lato';
}

td {
    font-family: 'Roboto Mono';
    font-weight: bold;
}

.Back:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧢</text></svg>") 16 0,auto; /*!emojicursor.app*/
}