.Back {
    margin: 5px;
    transform: rotateY(180deg);
}

.Back > p {
    margin-top: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.Back > a {
    margin-top: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

table {
    width: 50%;
    margin-top: 30px;
    margin-left: 60px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

th {
    font-family: 'Lato';
}

td {
    font-family: 'Roboto Mono';
    font-weight: bold;
}

.Back:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧢</text></svg>") 16 0,auto; /*!emojicursor.app*/
}