.Card {
    position: fixed;
    display: inline-block;
    top: 20%;
    left: 10%;
    width: 230px;
    height: 380px;
    border: 1px solid black;
    border-radius: 1px;
    padding: 5px;
    padding-right: 5px;
    background-color: #f2f2f2;
    -webkit-box-shadow: 6px 6px 5px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 6px 6px 5px 2px rgba(0,0,0,0.25);
    box-shadow: 6px 6px 5px 2px rgba(0,0,0,0.25);
}

.Card:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⚾️</text></svg>") 16 0,auto; /*emojicursor.app*/
}